## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hermanus,ZA,63.81,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
1,12,Punta Arenas,CL,62.71,clear sky,-53.1500,-70.9167,Hotel Hain
2,15,Gejiu,CN,43.83,overcast clouds,23.3060,103.1635,Hongtai Commercial Hotel
3,21,Bluff,NZ,61.81,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
4,22,Naze,JP,56.39,overcast clouds,28.3667,129.4833,Shishime Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Rhyl']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Rhyl']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Northam']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Oxford']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Norwich']
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
94,472,Oxford,GB,49.91,scattered clouds,51.7522,-1.256,Malmaison Oxford

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([53.3196, -3.4886], dtype=object)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop41, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(53,-2), zoom_level = 6)
rhyl = start
northam = stop1
oxford = stop2
norwich = stop3 
roadtrip = gmaps.directions_layer(rhyl, rhyl, 
                                  waypoints=[northam, oxford, norwich],
                                  travel_mode="DRIVING")
# Add marker
fig.add_layer(roadtrip)

# Display
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,95,Rhyl,GB,53.01,overcast clouds,53.3196,-3.4886,Westminster Hotel
1,646,Northam,GB,51.39,overcast clouds,51.0333,-4.2167,Durrant House Hotel
2,472,Oxford,GB,49.91,scattered clouds,51.7522,-1.2560,Malmaison Oxford
3,410,Norwich,GB,48.15,broken clouds,52.6278,1.2983,Holiday Inn Norwich City

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_content= """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(52,-2), zoom_level = 6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# fig.add_layer(marker_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))